<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.1" 
    xmlns:gap="http://phonegap.com/ns/1.0">

    <name>Argyll and Bute Council mobileapp</name>

    <description>
      App to request and report services
    </description>

    <author href="http://www.argyll-bute.gov.uk" email="enquiries@argyll-bute.gov.uk">
      Lorne MacBrayne
    </author>
    
    
    <plugin name="cordova-plugin-camera" spec="1.2.0" source="pgb" />
    <plugin name="cordova-plugin-media-capture" spec="1.0.1" source="pgb" />

</widget>





