<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Argyll and Bute Council app</name>

    <description>
      App to request and report services
    </description>

    <author href="http://www.argyll-bute.gov.uk" email="enquiries@argyll-bute.gov.uk">
      Lorne MacBrayne
    </author>

    <!-- We'll include the Barcode plugin as an example -->
    <plugin name="cordova-plugin-camera" spec="1.2.0" source="pgb" />
</widget>





